/** @format */

$background-color: #f7e4f6;
$div-colors: #dcd2f4;
$primary-color: #7755c7;
$secondary-color: #000;
$button-border: #a789ec;
$borderDark: #a14deb;
$borderLight: #d9bbf9;
$tablet: 768px;
$desktop: 1200px;
